@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}
.inputCadastro{
  margin: 3px;
  height: 25px;
  border: black solid 2px;
  border-radius: 15px 0 15px 0;
  width: 60%;
  font-size: 15px;
  outline: none;
  transition: 160ms;
}  
.btn {
  color: #431708;
  background-color: #f7f7f7;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  padding: 6px;
  transition: 150ms;
  font-weight: 500;
  text-decoration: none;
  font-weight: 600;
}
.header-left a {
  text-decoration: none;
  color: white;
}
.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #cb9b60;
  background-color: #cb9b60;
}
.header-left h1 {
  color: #431708;
}
.hello h3 {
  color: #431708;
  font-weight: 300;
  font-size: 1.2rem;
}
.hello h3 span {
  font-weight: 800;
}
.btn-nav {
    border: #431708 solid 3px;
    color: #431708;
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    padding: 6px;
    transition: 150ms;
    font-weight: 500;
    text-decoration: none;
}
.btn-nav-white {
    border: #431708 solid 3px;
    color: #431708;
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    padding: 6px;
    transition: 150ms;
    font-weight: 500;
    text-decoration: none;
}
.btn-nav-white h3 {
  color: #431708;
  padding: 0;
  margin: 0;
}
.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}
.btn-logout {
    border: #431708 solid 3px;
    color: #431708;
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    padding: 6px;
    transition: 150ms;
    font-weight: 500;
    text-decoration: none;    
}
.dash {
    width: 75%;
    position: relative;
    top: 0;
    left: 25%;
    background-color: #431708;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.cards {
  display: flex;
    background-color: #212124;  
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 60%;
    text-align: center;
    color: white;
    align-items: center;
}
.cards_jog {
  height: 300px;
  background-color: #191d20;
  width: 70vw;
  flex-direction: column;
  overflow-y: scroll  ;
  overflow-x: hidden;
  overflow: none;
  padding: 20px;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  box-shadow: 0 0 1em rgb(95, 95, 95)
}
.cards_jog::-webkit-scrollbar{
  display: none;
} 
.estiloTabela{
  color: rgb(179, 179, 179);
  font-family: monospace;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
}
.titiloTabale{
  color: #694d28;
}
.cards {
  display: flex;
  background-image: url('../assets/img/fundoMadeira.jpg');
  background-color: #212124;  
  flex-direction: column;
  justify-content: center;
  height: 450px;
  width: 60%;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: 'MedievalSharp', cursive;
  font-weight: 600;
  align-items: center;
  box-shadow: 14px 17px 10px 13px rgba(0,0,0,0.89);
}
.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}
.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}
.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}
.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
}
.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.graph {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}
.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}
.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}
