@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Roboto:ital,wght@0,100;0,700;1,500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}
.header-left a {
  text-decoration: none;
  color: white;
}
.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #cb9b60;
  background-color: #cb9b60;
}
.hello h3 {
  color: #431708;
  font-weight: 300;
  font-size: 1.2rem;
}
.hello h3 span {
  font-weight: 800;
}
.btn-nav {
    border: #431708 solid 3px;
    color: #431708;
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    padding: 6px;
    transition: 150ms;
    font-weight: 500;
    text-decoration: none;
}
.btn-nav-white {
    border: #431708 solid 3px;
    color: #431708;
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    padding: 6px;
    transition: 150ms;
    font-weight: 500;
    text-decoration: none;
}
.btn-nav-white h3 {
  color: #431708;
  padding: 0;
  margin: 0;
}
.btn-logout {
    border: #431708 solid 3px;
    color: #431708;
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    padding: 6px;
    transition: 150ms;
    font-weight: 500;
    text-decoration: none;    
}
.dash {
  width: 75%;
  position: relative;
  top: 0;
  left: 25%;
  background-color: #431708;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
}
.cards{
    background-color: black;
    
    width: 100%;
    height: 60%;
    display: flex;
}
.cardsInterno{
  background-image: url('../assets/img/fundoMadeira4.jpg');
  background-size: cover;
  width: 30%;
  height: 100%;
}
.cardsInterno2{
  padding-top: 20px;
    background-image: url('../assets/img/fundoMadeira4.jpg');
    background-size: cover;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    font-size: 20px;
    color: white;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    font-family: 'MedievalSharp', cursive;
    /* align-items: center; */
    /* justify-content: center; */



}
.testoUser{
  padding-top: 20px;
  background-image: url('../assets/img/fundoMadeira4.jpg');
  background-size: cover;
  width: 40%;
  height: 100%;
  font-size: 20px;
  color: white;
  font-family: 'MedievalSharp', cursive;
  /* display: flex; */
  /* align-items: center; */
}
.stl{
  margin: 3px;
    height: 25px;
    border: black solid 2px;
    border-radius: 15px 0 15px 0;
    width: 60%;
    font-size: 15px;
    outline: none;
    transition: 160ms;
}
h1 {
  color: #431708;
}
.btn{
  color: black;
  background-color: #f7f7f7;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  padding: 6px;
  transition: 150ms;
  font-weight: 1000;
  text-decoration: none;
  align-self: center;
  font-family: 'MedievalSharp', cursive;
}
.imgback{
  background-color: #e02b23;
  background-image: url('../assets/img/Taverna-2.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 20vw;
  width: 100%;
}
.ipt{
  margin: 3px;
  height: 25px;
  border: black solid 2px;
  border-radius: 15px 0 15px 0;
  width: 60%;
  font-size: 15px;
  outline: none;
  transition: 160ms;
}
.ipt2{
  margin: 3px;
  height: 300px;
  width: 85%;
  border: black solid 2px;
  border-radius: 15px 0 15px 0;
  font-size: 15px;
  outline: none;
  transition: 160ms;
}
#btn2{
  display: none;
}
.disloadin{
  margin-top: 10px;
  width: 75px; 
  height: 75px; 
  align-self: center ; 
  background-image: url('../assets/icons/loadindado.gif');
  background-size: cover;
  display: none;
}